.accordion-control {
  &:hover,
  &[data-active] {
    color: var(--mantine-accordion-control-hover-text-color) !important;
    background: var(--mantine-accordion-control-hover-background) !important;
  }
}

.navlink {
  &:hover {
    background: var(--mantine-nav-link-inactive-background-hover) !important;
  }
}
